* {
    padding: 0;
    margin: 0;
}

body {
    background-color: skyblue;
    padding: 35px 60px;
}

.div1 {
    background-color: white;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.number{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}
.logo{ 
    /* margin-bottom: 50px; */
    padding-left: 350px;

}

.form-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    /* width: 100%; */
}

.div2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px 0 30px 0;
}

#form {
    width: 50%;
    /* gap: 10px; */
    padding: 20px 45px 0 25px;
    /* border: 2px solid yellow; */
}

.div3 {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding: 20px 0;
}

input {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

#send {
    background-color: red;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#phone {
    color: rgb(212, 12, 12);
}

#email {
    color: rgb(19, 165, 223);
}

.links {
    width: 35px;
    height: 35px;
}